<footer class="page-footer cyan lighten-2" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
          <li><a class="grey-text text-lighten-3" href="#!"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright cyan darken-3">
    <div class="container">
    </div>
  </div>
</footer>
